<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title>Commissioned Rehabilitative Services (CRS) onboarding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div layout:fragment="content" class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Hello</h1>

    <a href="/providers">Providers</a>
    <a href="/contracts">Contracts</a>
</div>

</body>
</html>
