<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
    <title>Commissioned Rehabilitative Services (CRS) contracts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div layout:fragment="content" class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Contract list</h1>
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Reference</th>
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Contract type</th>
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Contract start date</th>
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Ready for onboarding?</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr th:each="contract : ${contracts}" class="govuk-table__row" th:attr="data-qa=${contract.id}">
            <td class="govuk-table__cell" data-test="reference">
              <a class="govuk-link" th:href="@{/contract/{ref}(ref=${contract.reference})}" th:text="${contract.reference}"></a>
            </td>
            <td th:text="${contract.type?.name}" class="govuk-table__cell" data-test="contract-type"></td>
            <td th:text="${contract.startDate}" class="govuk-table__cell" data-test="start-date"></td>
            <td class="govuk-table__cell" data-test="ready-to-onboard">
              <div th:switch="${contract.readyToOnboard()}">
                <strong th:case="false" class="govuk-tag govuk-tag--yellow">incomplete</strong>
                <strong th:case="true" class="govuk-tag govuk-tag--green">ready</strong>
              </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
